@import url("main.css");
@import url("responsive.css");

#slider {
    max-height: 475px;
}

#slider img{
    width: 100%;
}

h1 {
    margin: 0;
    padding-top: 50px;
}

.content-us {
    background-color: #e8ffe2;
}

.content-us h1{
    font-size: 44px;
    color: #324950;

}

.delimetr {
    color: #57984C;
    font-size: 17px;
    margin: 30px 0 35px 0;
}

.forma {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.left-forma {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.block {
    margin-bottom: 15px;
}

.block input {
    height: 50px;
    max-width: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 1px #DADADA;
    border-radius: 10px;
    font-size: 17px;
}

.name {
    margin-bottom: 10px;
    font-size: 17px;
    color: #324950;
}
.right-forma {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.right-forma select{
    height: 50px;
    max-width: 635px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 1px #DADADA;
    border-radius: 10px;
    font-size: 17px;

    appearance: none;
    background: url("../images/Frame.png") no-repeat right;
    background-position-x: calc(100% - 15px);
    background-color: #fff;
}

.right-block {
    margin-bottom: 15px;
}

.right-block input {
    height: 50px;
    max-width: 635px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 1px #DADADA;
    border-radius: 10px;
    font-size: 17px;
}

.right-forma textarea{
    resize: none;
    height: 342px;
    max-width: 635px;
    width: 100%;
    border: solid 1px #DADADA;
    border-radius: 10px;
    color:#324950;
    font-size: 17px;
    padding: 0;
}

.captcha {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.captcha input {
    height: 50px;
    max-width: 225px;
    width: 100%;
    border: solid 1px #DADADA;
    border-radius: 10px;
    color: #324950;
    font-size: 17px;
}

.captcha button {
    margin-left: 20px;
    height: 50px;
    max-width: 230px;
    width: 100%;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #57984C;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.end-adress {
    margin: 40px 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    color: #57984C;
    font-weight: bold;
    font-size: 20px;
}
.line {
    height: 1px;
    width: 183px;
    background-color: #57984C;
    margin: 15px 0;
}
.text {
    color: #324950;
    font-size: 17px;
    line-height: 1.5;
}
.tel {
    display: flex;
    align-items: center;
}
.tel a{
    text-decoration: none;
    color: #57984C;
    font-size: 17px;
    margin-left: 2px;
}


/* PR7  */

.cart {
    position: relative;
    background-color: #fff;
    height: 70px;
    
    
    margin: 0;
    padding: 10px;
    border: solid 1px #DADADA;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart-img {
    max-width: 80px;
    margin-top: 5px;
}

.cart-img img {
    max-width: 100%;
}

.cart-right {
    margin-left: 20px;
}

.cart-end {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cart-title {
    color: #324950;
    font-size: 19px;
    font-weight: bold;
}
.cart-sub-title {
    color: #57984C;
    padding: 5px 0;
}

.end-end {
    font-size: 40px;
    font-weight: 800;
    color: green;
}

.end-end span {
    display: block;
    margin-bottom: 20px;
}

.forma p {
    margin: 10px 0;
    font-size: 18px;
}