@import url("main.css");

.wrapper.info-container {
    padding: 35px 0 20px 0;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

#slider {
    background-image: url("../images/slider.jpg");
    padding: 338px 0;
    margin-top: -127px;
    text-align: center;
    
}

#slider h1{
    color: #735440;
    font-size: 48px;
    font-weight: bold;
}

#slider a {
    display: block;
    background-color: #57984C;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 155px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
}

#categories {
    text-align: center;
    margin: 35px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

#categories a {
    text-decoration: none;
    font-size: 20px;
    color: #324950;
    display: block;
    margin: 0 auto;
    transition: color .3s;
}

#categories a:hover {
    color: #57984C;
}


.cat-photo {
    min-height: 64px;
}

.text {
    margin-top: 10px;
    vertical-align: auto;
}

#gray {
    background-color: #f9f9f9;
    background-image: url("../images/union.png");
    background-repeat: no-repeat;
    background-position-y: 61px;
    background-position-x: -12px;
    background-size: 99%;
}

.img-block {
    min-height: 64px;
    width: 50%;
    transform: translateX(-45px);
    position: relative;
}

.info-block {
    display: flex;
    
    align-items: center;
}

.info-block .play {
    position: absolute;
    top: 38%;
    left: 43%;
    cursor: pointer;
}

.info-block.block2 {
    flex-direction: row-reverse;
}

.text-block {
    padding-right: 91px;
    margin-bottom: 50px;
    width: 50%;
    
}

.text-block .title {
    font-size: 64px;
    color: #324950;
    font-weight: bold;
    margin: 0;
}

.text-block .delimiter {
    color: #57984C;;
    margin: 20px 0 15px 0;
    padding-left: 10px;
}

.text-block .sub-title {
    font-size: 20px;
    line-height: 1.5;
    
}

.text-block.text2 {
    padding-left: 30px;
    
}

.main-activities {
    background-color: #EDEDED;
    padding: 50px 0 20px 0;
}

.main-activities-title {
    font-size: 64px;
    color: #324950;
    text-align: center;
    font-weight: bold;
}

.main-activities-delimiter {
    color: #57984C;
    text-align: center;
    margin: 20px 0 0 0;
}

.all-activities {
    display: flex;
    justify-content: space-around;
}

.block-activity {
    display: flex;
    flex-direction: column;
}

.activity-photo {
    margin: 0 auto;
    min-height: 265px;
}

.activity-photo.img-tomato {
    transform: translateY(-35px);
}

.activity-transform {
    transform: translateY(-45px);
}

.activity-title {
    font-size: 24px;
    text-align: center;
    color: #57984C;
    font-weight: bold;
}

.activity-delimiter {
    height: 1px;
    width: 183px;
    background-color: #57984C;
    margin: 20px auto 10px;
}

.activity-sub-title {
    font-size: 18px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}


