<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato one</title>
    <link rel="stylesheet" href="../css/tomato_one.css">
    <meta name="viewport" content="width=320, initial-scale=1.0" />
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="row">
                <div class="w-2">
                    <img src="../images/logo2.png" alt="" id="logo">
                </div>
                <div class="w-2 align-right">
                    <div id="search">
                        <div id="search-in" class="flex">
                            <input type="text" placeholder="Search" name="">
                            <button>Submit</button>
                        </div>
                    </div>
                    <div id="menu" class="hamburger-menu">
                        <input id="menu__toggle" type="checkbox" />
                        <label class="menu__btn" for="menu__toggle">
                        <span></span>
                        </label>
                        <ul class="menu__box">
                            <li><a class="menu__item" href="../index.html">Home</a></li>
                            <li><a class="menu__item" href="#">Company Profile</a></li>
                            <li><a class="menu__item" href="tomato_all.html">Products</a></li>
                            <li><a class="menu__item" href="#">Services</a></li>
                            <li><a class="menu__item" href="#">R & D</a></li>
                            <li><a class="menu__item" href="contact_us.html">Contact</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="wrapper">
            <div class="link">
                <a href="tomato_all.html">
                    <div class="link-img"><img src="../images/link.png" alt=""></div>
                    <div class="link-text">Return to all tomatoes</div>
                </a>
            </div>
            
            <div id="products" class="container">
                <div class="left-container">
                    <h1>{{product.title}}
                        <span>{{product.short_text}}</span> 
                    </h1>
                    <div class="delimetr">
                        *****
                    </div>
                    <div class="red-block">
                        <div class="red-img"><img src="../images/red-photo.png" alt=""></div>
                        <div class="red-text">Very high yield and excellent fruits quality!
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="title">CHARACTERISTICS</div>
                        <div class="line"></div>
                        <ul>
                            <li><b>Resistance</b></li>
                            <li>HR: ToMV:0-2; Fol: 1,2; Ve/Vd; </li>
                            <li>IR: TYLCV</li>
                        </ul>
                    </div>
                    <div class="info-characteristics">
                        <div class="title">Plant</div>
                        <div class="line"></div>
                        <ul>
                            <li>Strong vigor that provides good leaf coverage.</li>
                            <li>Very high productivity with good fruit setting.</li>
                            <li>Early matured variety.</li>
                        </ul>
                    </div>
                    <div class="info-characteristics">
                        <div class="title">Fruit</div>
                        <div class="line"></div>
                        <ul>
                            <li>Long shelf life on plant and post harvest.</li>
                            <li>Nice shiny attractive deep red color.</li>
                            <li>Average fruit size: 140 – 160 grams.</li>
                        </ul>
                    </div>
                </div>
                <div class="right-container">
                    <div class="right-img">
                        
                        <img class="right-photo" :src=product.image alt="">
                    </div>
                    <div class="PDF">
                        <a class="pdf" href="#" @click.prevent="addToCart (product.id)" v-if="!btnVisible">Add to cart</a>
                        <a class="pdf" href="contact_us.html" v-if="btnVisible">Go to cart</a>
                    </div>
                    <div class="info-characteristics">
                        <div class="title">Cycle</div>
                        <div class="line"></div>
                        <ul>
                            <li>Spring</li>
                            <li>Fall</li>
                            <li>Winter</li>
                        </ul>
                    </div>
                    <div class="info-block">
                        <div class="title">Color</div>
                        <div class="line"></div>
                        <ul>
                            <li>Red</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="footer-info">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Management</a></li>
                        <li><a class="active" href="tomato_all.html">Products</a></li>
                        <li><a href="#">R&D</a></li>
                        <li><a href="#">Links</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="contact_us.html">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-ikon">
                    <a href="#"><img src="../images/in.png" alt=""></a>
                    <a href="#"><img src="../images/inst.png" alt=""></a>
                    <a href="#"><img src="../images/tube.png" alt=""></a>
                    <a href="#"><img src="../images/tw.png" alt=""></a>
                    <a href="#"><img src="../images/fb.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <div class="end">
                AGRIDERA SEEDS & AGRICULTURE LTD. © 2024
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>